@model WebApplication1.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<h3>Baja de Usuario</h3>

<h6>¿Seguro que desea dar de baja al usuario?</h6>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RolId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RolId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-action="Index">Volver al listado</a>
    </form>
</div>
