@{ 
    ViewData["Title"] = "Pagina principal";
}
<div style="text-align:center"><img src="https://www.inmobiliarialopez.com/wp-content/uploads/2017/11/logo-lopez-inmobiliaria-380-350x284.jpg" width="500" /></div>