@{ 
    ViewData["Title"] = "Pagina principal";
}
<div style="text-align:center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0wmMdwSCj6EmHW8GzTcjxvQJtixdwTBVkW9lqaPa9iOyfRauT&s" width="500" /></div>